<div class='downloadDialog'>	 
	<div class="dijitDialogPaneContentArea">
		<div style="margin-bottom: 20px">
			<span>请选择android平台版本</span>
		</div>
		
		<div data-dojo-attach-point="_selectionDiv"></div>
		<div data-dojo-attach-point="_tableDiv"></div>

  </div>
	<div class="dijitDialogPaneActionBar">
		<button data-dojo-type='dijit/form/Button' data-dojo-attach-point="_okButton" data-dojo-attach-event='onClick:okButton' label='生成apk包' class="maqPrimaryButton" type="submit"></button>
		<button data-dojo-type='dijit/form/Button' data-dojo-attach-event='onClick:cancelButton' label='${buttonCancel}' class="maqSecondaryButton"></button>
	</div>
</div>